certifi==2025.1.31
click==8.1.8
Flask==2.0.3
Flask-Cors==5.0.0
gunicorn==23.0.0
Jinja2==3.1.5
packaging==24.2
requests==2.32.3
Werkzeug==2.0.3
connexion>=2.14.1
httpx==0.23.0
python-json-logger==2.0.2



